[submodule "libft-unit-test"]
	path = libft-unit-test
	url = https://github.com/alelievr/libft-unit-test.git
[submodule "libftTester"]
	path = libftTester
	url = https://github.com/Tripouille/libftTester.git
[submodule "libft-tester-tokyo"]
	path = libft-tester-tokyo
	url = https://github.com/usatie/libft-tester-tokyo.git
